<header>
  <div class="title-container">
    <span class="header-titles">
      <div class="header-title">Veggies of the year</div>
      <br />
      <div class="header-subtitle">Seasonal Sow and Harvest System</div>
    </span>
  </div>
</header>

<menu>
  <ul class="nav">
    <li><a href="/veg_list">Veggie List</a></li>
    <li><a href="/info">Info</a></li>
    <li><a href="/">Home</a></li>
  </ul>
</menu>
